* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #E5E5E5; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-caixa {
    background-color: #FFFFFF;
    font-family: 'IBM Plex Sans', sans-serif;
    width: 85vw;
    background: #FFFFFF;
    border-radius: 32px;
    padding-top: 90px;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    color: #0C1727;
}

.card-diversos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border-radius: 5px;
    padding: 35px 50px 50px 50px;
    margin: 64px 0 90px 0;
    text-align: center;
    color: #000000;
}

h2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    margin-top: 5px;
    margin-bottom: 10px;
}

p {
    line-height: 21px;
    margin-bottom: 35px;
}

.botao {
    width: 226px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0C1727;
    border-radius: 3px;
}

a {
    text-decoration: none;
    font-weight: 600;
    line-height: 21px;
    color: #FFFFFF;
}

.card-search {
    margin-left: 60px;
    margin-right: 15px;
    background: #F8F2FA;
}

.card-browser {
    margin-right: 15px;
    background: #FAF2F4;
}

.card-maps {
    margin-right: 60px;
    background: #F5F2FA;
}