* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    background-color: #FFFFFF;
    box-shadow: 0px 44px 54px -30px rgba(171, 200, 250, 0.38);
    border-radius: 15px;
    max-width: 536px;
    padding: 75px 70px 50px 70px;
    font-family: 'Lato', sans-serif;
}

.card h1 {
    font-family: 'Merriweather', serif;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
    font-weight: 600;
    line-height: 26px;
}

span {
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    color: #494949;
}

.categorias {
    margin-top: 50px;
    margin-bottom: 30px;
}

.categoria {
    display: inline-block;
    font-weight: 600;
    line-height: 26px;
    color: #2E29FF;
    background: #EFF5FF;
    border-radius: 45px;
    padding: 9px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.btn {
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    background: #000000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 50px;
}
