footer {
    background-color: #90D4C6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 72px 0px;
    max-width: 100vw;
}

footer ul {
    list-style: none;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

footer li {
    margin: 30px;

    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.128571px;
    color: #458D7E;
}

.footer-imagem {
    display: flex;
}

.footer-imagem img {
    margin: 20px;
}
