* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: antiquewhite;

    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 100vw;
    min-height: 100vh;

    font-family: Arial, Helvetica, sans-serif;

    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div {
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 30px;
}

.musica {
    background-color: rgba(21, 21, 22, 0.74);
    padding: 30px;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}


.inputMusica {
    display: none;
}

input {
    all: unset;
    box-sizing: border-box;

    border: 1px solid rgba(0, 0, 0, 0.829);
    border-radius: 5px;
    padding: 10px;
}

select {
    color: antiquewhite;
    margin-left: 15px;
}

option {
    color: #000;
}

button {
    all: unset;
    box-sizing: border-box;
    margin-top: 30px;

    padding: 15px;
    background-color: rgb(2, 2, 2);
    border-radius: 10px;
    color: antiquewhite;
    font-weight: bold;
    cursor: pointer;

    align-self: flex-end;
}

button:hover {
    background-color: antiquewhite;
    color: rgb(2, 2, 2);
    transition: .7s;
}

select {
    border: 1px solid rgba(0, 0, 0, 0.829);
    border-radius: 5px;
    padding: 10px;

    background-color: rgba(230, 73, 73, 0.027);
    font-size: 16px;

    margin-bottom: 30px;
}

