* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    color: #FFFFFF;
    width: 920px;
    height: 500px;
}

.card-caixa {
    display: flex;
    flex-direction: column;
    padding: 50px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    line-height: 25px;
}

.card-caixa img {
    width: 63.91px;
    height: 40px;
}

.card-caixa h1 {
    margin-top: 35px;
    margin-bottom: 25px;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
}

.card-caixa p {
    margin-bottom: 83px;
    font-weight: normal;
    opacity: 0.75;
}

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-caixa a {
    text-decoration: none;
    color: #004140;
    background-color: #FFFFFF;
    padding: 11px 32px;
    border-radius: 25px;
}

.card__sedan {
    background-color: #E28625;
    border-radius: 8px 0px 0px 8px;
}

.card__suvs {
    background-color: #006971;
}

.card__luxury {
    background-color: #004140;
    border-radius: 0px 8px 8px 0px;
}