* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
  display: grid;
  place-content: center;
  min-height: 100vh;
}

div:not(.App) {
  display: flex;
  justify-content: center;
  gap: 15px;
}