* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

.side-menu {
  padding: 20px;
  background-color: #313131;
  gap: 40px;

  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.side-menu--closed .side-menu__label {
  display: none;
}

.side-menu__button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;

  gap: 25px;
  color: #888888;
}

.side-menu__button--active {
  color: #FFF;
}

.main {
  flex-grow: 1;

  padding: 152px 42px;
  padding-bottom: 42px;
}

.main__title {
  font-size: 36px;
  text-align: center;
  
  margin-bottom: 52px;
}

.gallery {
  gap: 30px;
}

.gallery__item {
  position: relative;
}

.item__like {
  position: absolute;
  top: 18px;
  right: 18px;
}

.item__image {
  cursor: pointer;
  margin-bottom: 18px;
}

.item__title,
.item__date {
  font-size: 20px;
}

.item__date {
  color: #5C5C5C;
}

.modal {
  background-color: rgba(0, 0, 0, 0.6);

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.modal__button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
}

.modal__button--close {
  position: absolute;

  top: 90px;
  right: 45px;
}

.modal__container {
  position: relative;
}

.modal__image {
  width: 500px;
  height: auto;
}

.modal__like {
  position: absolute;
  top: 18px;
  right: 18px;
}

.modal__button--previous {
  position: absolute;
  left: -100px;
}

.modal__button--next {
  position: absolute;
  right: -100px;
}