* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E6E3CA;
    font-family: 'Open Sans', sans-serif;

    display: flex;
    flex-direction: column;

    min-width: 100vw;
}

.texto {
    padding: 140px 200px;
}

.container {
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(17, 145, 216, 0.12);
    border-radius: 12px;

    padding: 40px 50px 60px 50px;

    position: fixed; 
    right: 70px;
    top: 100px;

    display: none;
}

p {
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;

    margin-bottom: 40px;
}

img {
    width: 120px;

    position: fixed;
    right: 10px;
    top: 80%;
    
    cursor: pointer;
}

.card {
    position: relative;

    display: flex;
    justify-content: flex-end;
}